@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Change highlight color */
::selection {
  background-color: rgba(53, 151, 147, 0.3);
}

::-moz-selection {
  background-color: rgba(53, 151, 147, 0.3);
}

@layer utilities {
  .shadow-inner-right {
    box-shadow: inset -9px 0 6px -1px rgb(0 0 0 / 0.02);
  }

  .shadow-inner-left {
    box-shadow: inset 9px 0 6px -1px rgb(0 0 0 / 0.02);
  }
}

.artifact-content {
  line-height: calc(
    1.625em + 2px
  ); /* Adjust the base value (1.625em) if needed */
}

.inline-code {
  font-family: monospace;
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.9em;
}

.custom-blocknote-theme {
  --bn-colors-editor-text: #3f3f3f;
}

.custom-blocknote-theme a {
  color: #2563eb !important; /* Tailwind blue-600 */
  text-decoration: none;
}

.custom-blocknote-theme a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
